name: Java CI with Maven - Test and package  # Name of the workflow

on:
#  push:
#    branches:
#      - main
  pull_request:
    branches:      # Specify branches to run the workflow on pull requests
      - main
jobs:              # Defines one or more jobs that will run in the workflow
  build:           # Job name
    runs-on: ubuntu-latest  # OS for the job (e.g., ubuntu-latest, windows-latest, macos-latest)

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '21'

#      - name: Check Sonar Token
#        run: |
#          if [ -n "${{ secrets.SONAR_TOKEN }}" ]; then
#            echo "SONAR_TOKEN is set"
#            echo "First 4 characters of SONAR_TOKEN: ${${{ secrets.SONAR_TOKEN }}:0:4}****"
#          else
#            echo "SONAR_TOKEN is not set"
#          fi

#      - name: Display secret
#        run: echo  ${{ secrets.SONAR_TOKEN }}

#      - name: Build with Maven
#        run: mvn -B package
      - name: Build and Analyze with SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.projectKey=$(echo ${{ github.repository }} | sed 's-/-_-') \
          -Dsonar.login=$SONAR_TOKEN \
          -Dsonar.branch.name='main'

